# Dependencies lokal — akan diinstall ulang di dalam container
node_modules

# Hasil build lokal — akan di-compile ulang di dalam container
dist

# File environment — jangan pernah masuk image (rahasia!)
.env
.env.*
.env.test
.env.test*

# Log
*.log
npm-debug.log*

# Git
.git

*.log
# Docker itu sendiri
Dockerfile
docker-compose.yml
.dockerignore

# Editor
.vscode
.idea